<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="amazon application test">
    <test name= "amazon pages">
        <classes>
              <class name="com.amazon.qa.testcases.LoginPageTest"></class>
			  <class name="com.amazon.qa.testcases.HomePageTest"></class>
			  <class name="com.amazon.qa.testcases.GiftCardsPageTest"></class>
        
     </classes>
   </test>
</suite>